version: "3.8"

services:
  kafka:
    image: bitnami/kafka:3.6
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_CFG_PROCESS_ROLES: "broker,controller"
      KAFKA_CFG_NODE_ID: "1"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"

      KAFKA_CFG_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
      KAFKA_CFG_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9092"

      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"

      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"

    volumes:
      - kafka_data:/bitnami/kafka

  cdc-gateway:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: cdc-gateway
    depends_on:
      - kafka
    environment:
      CDC_GATEWAY_CONFIG: /config/config.yaml
      CDC_GATEWAY_GRPC_ADDR: ":9090"

      KAFKA_BROKERS: "kafka:9092"
      KAFKA_INPUT_TOPIC: "cdc.test.customers"
      KAFKA_CONSUMER_GROUP: "cdc-gateway-dev"

    volumes:
      - ../config.yaml:/config/config.yaml:ro

    ports:
      - "8080:8080"
      - "9090:9090"
    restart: unless-stopped

volumes:
  kafka_data:
